@import "config";
@import "clock";

* {
  box-sizing: border-box;
}

body {
  @include background;
  font-family: $primary-font-family;
  color: $text-color;
  text-decoration: none;
  text-align: center;
  min-height: 100vh;
  margin: 0 auto;
}

main {
  margin-top: 35px;
  padding: $global-padding;
  overflow: hidden;
  line-height: 32px;

  h1 {
    font-size: 6rem;
    margin-bottom: 4rem;
  }
}
